@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?-9gqvx');
    src: url('fonts/icomoon.eot?#iefix-9gqvx') format('embedded-opentype'), url('fonts/icomoon.ttf?-9gqvx') format('truetype'), url('fonts/icomoon.woff?-9gqvx') format('woff'), url('fonts/icomoon.svg?-9gqvx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-size: 24px;
    color: #555;
    color: black;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-simple-tick:before {
    content: "\e913"
}
.icon-asean:before {
    content: "\e900"
}
.icon-calendar2:before {
    content: "\e901"
}
.icon-cimb_symbol_bw .path1:before {
    content: "\e902";
    color: #333
}
.icon-cimb_symbol_bw .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: #fff
}
.icon-cimb_symbol_bw .path3:before {
    content: "\e904";
    margin-left: -1em;
    color: #848484
}
.icon-cimb_symbol_colour .path1:before {
    content: "\e905";
    color: #fff
}
.icon-cimb_symbol_colour .path2:before {
    content: "\e906";
    margin-left: -1em;
    color: #e2231a
}
.icon-cimb_symbol_colour .path3:before {
    content: "\e907";
    margin-left: -1em;
    color: #7b303e
}
.icon-downloads:before {
    content: "\e908"
}
.icon-local:before {
    content: "\e909"
}
.icon-mobileEmail:before {
    content: "\e90a"
}
.icon-overseas:before {
    content: "\e90b"
}
.icon-repeat:before {
    content: "\e90c"
}
.icon-star:before {
    content: "\e90d"
}
.icon-succesful:before {
    content: "\e90e"
}
.icon-TAC:before {
    content: "\e90f"
}
.icon-transactionhistory:before {
    content: "\e910"
}
.icon-aboutUs:before {
    content: "\e911"
}
.icon-currency:before {
    content: "\e912"
}
.icon-closeslim:before {
    content: "\e620"
}
.icon-register:before {
    content: "\e621"
}
.icon-login:before {
    content: "\e622"
}
.icon-language:before {
    content: "\e61c"
}
.icon-backtotop:before {
    content: "\e61b"
}
.icon-loan:before {
    content: "\e619"
}
.icon-menu:before {
    content: "\e61a"
}
.icon-accountcard:before {
    content: "\e616"
}
.icon-alert .path1:before {
    content: "\e611";
    color: #000
}
.icon-alert .path2:before {
    content: "\e612";
    margin-left: -1em;
    color: #fff
}
.icon-alert .path3:before {
    content: "\e613";
    margin-left: -1em;
    color: #fff
}
.icon-backarrow:before {
    content: "\e614"
}
.icon-bg_secure:before {
    content: "\e617"
}
.icon-calendar:before {
    content: "\e615"
}
.icon-closes:before {
    content: "\e618"
}
.icon-demo:before {
    content: "\e61d"
}
.icon-download:before {
    content: "\e61e"
}
.icon-fingerprint:before {
    content: "\e61f"
}
.icon-locator:before {
    content: "\e644"
}
.icon-lock:before {
    content: "\e645"
}
.icon-mailbox:before {
    content: "\e646"
}
.icon-octosend:before {
    content: "\e647"
}
.icon-pen:before {
    content: "\e648"
}
.icon-phone:before {
    content: "\e649"
}
.icon-search2:before {
    content: "\e65a"
}
.icon-success:before {
    content: "\e663"
}
.icon-tac .path1:before {
    content: "\e664";
    color: #171516
}
.icon-tac .path2:before {
    content: "\e665";
    margin-left: -1em;
    color: #322e30
}
.icon-tac .path3:before {
    content: "\e666";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path4:before {
    content: "\e667";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path5:before {
    content: "\e668";
    margin-left: -1em;
    color: #e0272d
}
.icon-tac .path6:before {
    content: "\e669";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path7:before {
    content: "\e66a";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path8:before {
    content: "\e66b";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path9:before {
    content: "\e66c";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path10:before {
    content: "\e66d";
    margin-left: -1em;
    color: #fff
}
.icon-tac .path11:before {
    content: "\e66e";
    margin-left: -1em;
    color: #e0272d
}
.icon-tac .path12:before {
    content: "\e66f";
    margin-left: -1em;
    color: #e0272d
}
.icon-tac .path13:before {
    content: "\e670";
    margin-left: -1em;
    color: #e0272d
}
.icon-tacmobile:before {
    content: "\e671"
}
.icon-tick:before {
    content: "\e686"
}
.icon-wallet:before {
    content: "\e601"
}
.icon-info:before {
    content: "\e602"
}
.icon-account:before {
    content: "\e603"
}
.icon-apply:before {
    content: "\e604"
}
.icon-help:before {
    content: "\e605"
}
.icon-investment:before {
    content: "\e606"
}
.icon-logout:before {
    content: "\e607"
}
.icon-paytransfer:before {
    content: "\e608"
}
.icon-request:before {
    content: "\e609"
}
.icon-reward:before {
    content: "\e60a"
}
.icon-settings:before {
    content: "\e60b"
}
.icon-topup:before {
    content: "\e60c"
}
.icon-wall:before {
    content: "\e60d"
}
.icon-moreaction:before {
    content: "\e60e"
}
.icon-notifications:before {
    content: "\e60f"
}
.icon-search:before {
    content: "\e610"
}
.icon-arrow_up:before {
    content: "\e600"
}
html {
    position: relative;
    min-height: 100%
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
.checkbox input[type="checkbox"]:focus+label:before {
    outline: 0 !important;
    -webkit-appearance: none !important
}
.footer {
    bottom: 0;
    width: 100%;
    height: 260px
}
.navbar-none  {    margin-top: -64px;}
.landing-nav .navbar-nav>li>a {
    padding-top: 19px;
    color: #FFF;
}
.landing-page-search {
    padding-top: 80px
}
.terms-footer {
    margin-right: 40px
}
.bottom-footer {
    padding-top: 80px
}
.bottom-footer p {
    color: #999
}
.bottom-footer p a {
    color: #999
}
a:hover,
a:active {
    color: #ccc;
    text-decoration: none
}
.currency {
    background: #1f1f21;
    color: white
}
.currency:hover,
.currency:active {
    background: #1f1f21;
    color: white
}
.navbar {
    margin-bottom: 0;
    background: none;
    border: 0;
    padding-top: 10px
}
.nav-cta {
    padding: 10px 40px;
    margin-left: 40px
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}
.navbar-default .navbar-nav>li>a:hover {
    color: #2e71f0
}
.navbar-default .navbar-nav>li>a.nav-cta {
    border: 1px solid #eee;
    border-radius: 40px;
    padding: 10px 30px;
    margin-top: 5px;
    color: #fff;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.navbar-default .navbar-nav>li>a.nav-cta:hover {
    color: #000;
    background: #fff
}
.user-thumb {
    position: absolute;
    top: 220px;
    left: 205px
}
.all-search {
    border-radius: 4px 0 0 4px;
    height: 40px
}
.form-control {
    border: 0;
    border-radius: 1px
}
input.form-control.places-form {
    width: 250px;
    height: 47px
}
input.form-control.name-form {
    margin-left: -4px;
    height: 47px;
    border-left: 1px solid #ccc;
    width: 250px
}
.full-height{
    height:100%;
}
.search-btn {
    background: #2e71f0;
    color: #fff;
    padding: 13px 42px 14px;
    margin-left: -4px;
    border-radius: 0;
    border: none;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.search-btn:hover {
    background: #007aff;
    color: #fff
}
.landing-content {
    padding: 40px 0;
    border-top: solid 1px #e6e9e9
}
.landing-content a {
    color: #333;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.landing-content a:hover {
    color: #2e71f0
}
.portfolio-item {
    margin-bottom: 40px
}
@media (max-width: 991px) {
    
}
.price {
    opacity: .79;
    background: #3c3d41;
    width: 100px;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 180px
}
.img-right-top {
    display: block
}
.img-right-bottom {
    display: block;
    margin-top: 16px
}
.overlay-bg {
    position: absolute;
    width: 570px;
    height: 731px;
    background: #000
}
.multi-select-block .block {
    width: 30%
}
.overlay-big-left img {
    opacity: 60;
    filter: alpha(opacity=6000);
    opacity: .6
}
.overlay-right-top-bg {
    position: absolute;
    width: 570px;
    height: 357px;
    background: #000
}
.overlay-right-top img {
    opacity: 60;
    filter: alpha(opacity=6000);
    opacity: .6
}
.overlay-right-bottom-bg {
    position: absolute;
    width: 570px;
    height: 362px;
    background: #000;
    margin-top: 13px
}
.overlay-right-bottom img {
    opacity: 60;
    filter: alpha(opacity=6000);
    opacity: .6;
    margin-top: 13px
}
.text-overlay.big-left {
    position: absolute;
    top: 300px;
    left: 180px;
    z-index: 999
}
.text-overlay.big-left a {
    color: #fff;
    text-decoration: none;
    font-size: 30px
}
.text-overlay.top-right {
    position: absolute;
    top: 170px;
    left: 230px;
    z-index: 999
}
.text-overlay.top-right a {
    color: #fff;
    text-decoration: none;
    font-size: 30px
}
.text-overlay.bottom-right {
    position: absolute;
    top: 530px;
    left: 230px;
    z-index: 999
}
.text-overlay.bottom-right a {
    color: #fff;
    text-decoration: none;
    font-size: 30px
}
a.overlay {
    opacity: .5;
    background: #000;
    border-radius: 4px;
    width: 570px;
    height: 736px;
    z-index: 11px
}
.content-title {
        margin: 10px 0 60px 0;
}
.content-title h3 {
    font-size: 36px
}
.view-more {
    margin: 60px 0 100px 0
}
a.view-more-btn {
    background: #2e71f0;
    border-radius: 40px;
    padding: 14px 30px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}
a.view-more-btn:hover {
    background: #007aff
}
.btn-search {
    background: #276cf2;
    border-radius: 0 4px 4px 0;
    border: 0;
    font-family: Montserrat-Bold;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    height: 40px;
    line-height: 12px;
    width: 166px;
    margin-left: -10px
}
.bg-midnight-blue {
    background-color: #000
}
.bg-empty {
    min-height: 400px
}
.background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: 50% 50% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 20;
    filter: alpha(opacity=2000);
    opacity: .2;
    filter: alpha(opacity=20)
}
.container {
    position: relative;
    z-index: 2
}
.nav-visible .navbar .nav-collapse .nav >li >a:hover,
.nav-visible .navbar .nav-collapse .nav >li >li a:focus {
    background-color: transparent
}
.nav-visible .nav-collapse .navbar-form,
.nav-visible .nav-collapse .navbar-search {
    border-bottom: 0 none;
    border-top: 0 none;
    box-shadow: none;
    margin: 10px 0;
    padding: 10px 15px
}
.nav-visible .nav-collapse .navbar-form a.btn,
.nav-visible .nav-collapse .navbar-search a.btn {
    border-color: white;
    color: white
}
.nav-visible .nav-collapse .navbar-form a.btn:hover,
.nav-visible .nav-collapse .navbar-search a.btn:hover,
.nav-visible .nav-collapse .navbar-form a.btn:focus,
.nav-visible .nav-collapse .navbar-search a.btn:focus {
    color: #7f8c8d;
    background-color: white
}
.header-11-startup-antiflicker {
    border-bottom: 1px #bdc3c7 solid
}
.header-11 {
    z-index: 100;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 90px
}
.header-11 .navbar {
    position: absolute;
    z-index: 2;
    top: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
.header-11 .navbar .navbar-form {
    padding: 30px 0 19px 30px
}
.header-11 .navbar .btn {
    padding-left: 18px;
    padding-right: 18px
}
.header-11 .navbar .btn.btn-primary {
    background-color: #3276b1
}
.header-11 .navbar .brand {
    padding-top: 30px;
    font-size: 25px;
    font-weight: normal;
    color: #34495e;
    font-weight: 600
}
.header-11 .navbar .brand img:first-child {
    float: left;
    margin: -10px 15px 0 0
}
.header-11 .navbar .nav>li {
    margin-left: 25px
}
.header-11 .navbar .nav>li>a {
    padding: 41px 0 27px;
    font-size: 14px;
    font-weight: normal;
    color: #7f8c8d;
    font-weight: 500;
    letter-spacing: 1px;
    color: inherit
}
.header-11 .navbar .nav>li:first-child {
    margin-left: 0
}
.header-11 .navbar .navbar-toggle {
    background-image: url("../../../common-files/icons/menu-icon-header-8.png");
    margin-top: 36px
}
.header-11 .navbar .btn.btn-primary {
    background-color: #3276b1
}
.header-11 .navbar .nav>li:first-child {
    margin-left: 0
}
.header-11 .navbar .btn.btn-primary:hover,
.header-11 .navbar .btn.btn-primary:focus {
    background-color: #45b39d
}
.header-11 .navbar .btn.btn-primary:active,
.header-11 .navbar .btn.btn-primary.active {
    background-color: #138871
}
.navbar .nav .header-11>li:active a,
.navbar .nav .header-11>li.active a {
    color: #16a085
}
.navbar .nav .header-11>li:active a:hover,
.navbar .nav .header-11>li.active a:hover,
.navbar .nav .header-11>li:active a:focus,
.navbar .nav .header-11>li.active a:focus,
.navbar .nav .header-11>li:active a.active,
.navbar .nav .header-11>li.active a.active {
    color: #16a085
}
.navbar .nav .header-11>li .header-11>a:hover,
.navbar .nav .header-11>li .header-11>a:focus,
.navbar .nav .header-11>li .header-11>a.active {
    color: #16a085
}
.header-11-sub {
    padding-top: 58px;
    padding-bottom: 58px;
    position: relative
}
.header-11-sub .additional-links {
    opacity: 50;
    filter: alpha(opacity=5000);
    opacity: .5;
    filter: alpha(opacity=50);
    font-size: 12px;
    font-weight: normal;
    color: #7f8c8d
}
.header-11-sub .additional-links a {
    text-decoration: underline;
    color: #bdc3c7;
    color: #697172
}
.header-11-sub .signup-form form {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 140px
}
.header-11-sub .signup-form form .form-group:first-child .form-group {
    display: table;
    width: 100%
}
.header-11-sub .signup-form form .form-group:first-child .form-group>div {
    display: table-cell;
    width: 50%;
    padding-left: 5px
}
.header-11-sub .signup-form form .form-group:first-child .form-group>div:first-child {
    padding-left: 0;
    padding-right: 5px
}
.header-11-sub .signup-form form .form-group:first-child .form-group input {
    width: 100%
}
.header-11-sub .player {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #bdc3c7;
    position: relative;
    overflow: hidden;
    height: 360px
}
.header-11-sub .player .btn-play {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
    padding-left: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
.header-11-sub .player .btn-play.btn-primary {
    background-color: #16a085
}
.header-11-sub .player>iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block
}
.header-11-sub .background {
    background-image: url(../img/Image.png);
    opacity: 30;
    filter: alpha(opacity=3000);
    opacity: .3;
    filter: alpha(opacity=30)
}
.header-11-sub .background.mountain-empty {
    background-image: url(../img/mountain.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    filter: alpha(opacity=9000);
    opacity: .9;
    filter: alpha(opacity=90)
}
.header-11-sub h3 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 300;
    
    font-size: 36px;
    line-height: 55px
}
.header-11-sub p {
    font-weight: normal;
    opacity: .69;
    font-family: PTSerif-Regular;
    font-size: 20px;
    color: #fff;
    line-height: 26px
}
.header-11-sub .additional-links a:hover,
.header-11-sub .additional-links a:focus,
.header-11-sub .additional-links a.active {
    color: #979c9f
}
.header-11-sub .signup-form form .btn.btn-info:hover,
.header-11-sub .signup-form form .btn.btn-info:focus {
    background-color: #16a085
}
.header-11-sub .signup-form form .btn.btn-info:active,
.header-11-sub .signup-form form .btn.btn-info.active {
    background-color: #138871
}
.header-11-sub .signup-form form input[type="text"],
.header-11-sub .signup-form form input[type="password"] {
    border-color: white !important
}
.header-11-sub .player .btn-play.btn-primary:hover,
.header-11-sub .player .btn-play.btn-primary:focus {
    background-color: #45b39d
}
.header-11-sub .player .btn-play.btn-primary:active,
.header-11-sub .player .btn-play.btn-primary.active {
    background-color: #138871
}
.footer-2 {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #1f1f21
}
.footer-2 a {
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    font-family: Montserrat-Regular
}
.footer-2 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    color: #bdc3c7
}
.footer-2 nav ul li {
    float: left;
    margin-left: 25px;
    line-height: 25px
}
.footer-2 nav ul li:first-child {
    margin-left: 0
}
.footer-2 .social-btns {
    white-space: nowrap
}
.footer-2 .social-btns>* {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #979c9f;
    width: 20px;
    height: 25px;
    overflow: hidden;
    text-align: center
}
.footer-2 .social-btns>*>* {
    display: block;
    position: relative;
    top: 0;
    -webkit-transition: .25s top;
    -moz-transition: .25s top;
    -o-transition: .25s top;
    transition: .25s top
}
.footer-2 .social-btns>*>*:first-child {
    color: #bdc3c7
}
.footer-2 .social-btns>*:first-child {
    margin-left: 0
}
.footer-2 .social-btns>*:hover>* {
    top: -100%
}
.footer-2 .additional-links {
    font-size: 12px;
    font-weight: normal;
    color: #bdc3c7;
    text-align: center
}
.footer-2 .additional-links a {
    text-decoration: underline
}
.footer-2 a:hover,
.footer-2 a:focus,
.footer-2 a.active {
    color: #979c9f
}
@media (max-width: 991px) {
    .footer-2 .additional-links {
        clear: both;
        text-align: left
    }
}
@media (max-width: 768px) {
    .background {
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%
    }
    header {
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .header-11-sub {
        padding-top: 68px;
        padding-bottom: 70px
    }
    .header-11-sub .player {
        margin: 40px 0 45px
    }
    .header-11-sub .signup-form form .form-group:first-child .form-group>div {
        padding-left: 9px
    }
    .header-11-sub .signup-form form .form-group:first-child .form-group>div:first-child {
        padding-right: 9px
    }
    .header-11-sub .signup-form form .btn {
        margin: 9px 0
    }
    .header-11-sub .background {
        background: #f6f6f2
    }
    .header-11-sub .signup-form form input[type="text"],
    .header-11-sub .signup-form form input[type="password"] {
        height: 41px
    }
}
@media (max-width: 480px) {
    .header-11-sub {
        padding-top: 68px;
        padding-bottom: 70px
    }
    .header-11-sub h3 {
        font-size: 26px;
        font-weight: normal;
        color: #fff
    }
    .header-11-sub .player {
        margin: 40px 0 45px;
        height: 160px
    }
    .header-11-sub .signup-form form {
        margin-top: 25px
    }
    .footer-2 {
        padding-top: 28px;
        padding-bottom: 28px
    }
    .footer-2>.container>* {
        float: none !important;
        *zoom: 1
    }
    .footer-2>.container>*:after {
        clear: both
    }
    .footer-2 nav ul li {
        float: none;
        margin: 18px 0 0
    }
    .footer-2 nav ul li:first-child {
        margin-top: 0
    }
    .footer-2 .social-btns {
        margin: 25px 0 10px
    }
    .footer-2 >.container >*:before,
    .footer-2 >.container >*:after {
        content: " ";
        display: table;
        content: "";
        line-height: 0
    }
}
.container-result {
    /*border: solid 2px #a1a1a1*/
}
.container-filter {
    margin-top: 20px;
    margin-bottom: 20px
}
.container-filter .row-filter h5 {
    font-weight: 600;
    text-align: left;
    float: left
}
.container-filter .filter-search {
    border-bottom: solid 1px #e6e9e9;
   min-height: 100px;
    margin-top: 25px;
}
.container-filter .filter-search .checkbox {
    margin-right: 10px;
    background-color: #edefed;
    border: 1px solid #dce0e0;
    padding: 5px 20px
}
@media (max-width: 991px) {
    .container-filter .filter-search .checkbox {
        margin-left: 0;
        margin-right: 0
    }
}
.container-filter .filter-search h5 {
    margin-top: 16px
}
.container-filter .slider-filter {
        min-height: 120px;
    margin-top: 35px;
}
.container-filter .slider-filter label {
    font-weight: bold
}
.container-filter .slider-filter .label-description {
    margin-top: 50px
}
.slider {
    margin-top: 18px
}
.noUi-horizontal .noUi-handle {
        height: 24px;
    width: 24px;
    top: -10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px #ebebeb, 0 3px 6px -3px #bbb
}
.noUi-horizontal .noUi-handle:after,
.noUi-horizontal .noUi-handle:before {
    background: transparent
}
.noUi-connect,
.noUi-background,
.noUi-target {
    height: 3.5px
}
.noUi-connect {
    background: #c5c5c5
}
.noUi-connect {
    background: #006ffe
}
.star-rating .icon-star {
    display: inline;
    color: #d8d8d8;
    font-size: 16px
}
.star-rating .icon-star.selected {
    color: #ffcd00
}
.heart-wrapper {
    position: absolute;
    top: 5px;
    left: 235px
}
input[type=checkbox].heart-checkbox {
    display: none
}
input[type=checkbox].heart-checkbox+label:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 30px;
    cursor: pointer
}
input[type=checkbox].heart-checkbox+label:before {
    content: "\f004";
    color: #9b9b9b;
    -webkit-text-stroke: .1px white;
    text-shadow: 1px 1px 0 #fff, px 0 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 1px 1px 0 #fff
}
input[type=checkbox].heart-checkbox+label:before {
    letter-spacing: 10px
}
input[type=checkbox].heart-checkbox:checked+label:before {
    content: "\f004";
    color: #ff1d25;
    -webkit-text-stroke: 0;
    text-shadow: none
}
input[type=checkbox].heart-checkbox:checked+label:before {
    letter-spacing: 5px
}
.common-click-feature-hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: .5
}
.common-click-feature {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    cursor: pointer
}
.common-border-bottom {
    border-bottom: solid 2px #a1a1a1
}
.border-bottom-separator {
    border-bottom: solid 2px #a1a1a1;
    padding-bottom: 100px;
    border-bottom-width: 1px
}
.pagination-wrapper .pagination-block {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: #bfbfbf solid 2px;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px;
    margin-right: 20px;
    color: #979797;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    cursor: pointer
}
.pagination-wrapper .pagination-block.active {
    border: #696969 solid 2px;
    color: #000
}
.pagination-wrapper .pagination-block:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: .5
}
.bg-color-blue {
    background-color: #2e71f0 !important
}

.review-name {

}
.section-details p {
	font-family:Arial, Helvetica, sans-serif;
        font-size: 14px;
    line-height: 1.43;
    color: #565a5c;
    margin-top: 0;
    margin-bottom: 0
}
.section-details h3 {
    color: #3c3d41;
    margin-top: 0;
       margin-bottom: 6.25px;
    line-height: normal;
	    font-size: 24px;
}

.section-details p {
	font-size: 14px;
    line-height: 1.43;
    color: #000;
	}
	
	
	.btn-contact {   background-color: #2e71f0;color: #fff;
    color: #fff;padding: 4px 12px;
    font-size: 12px; width:100px;}
	
	h3.title-detailspage { margin-bottom:40px;}
	
	
	.testimonials {    width: 555px;    border: 1px solid #c4c4c4; border-radius:2px;}
	.btn-testimonials {    background-color: #2e71f0;color: #fff;
    border-color: #204d74;}
	
	.merchant-info { padding-left:40px;}
	
/*.section-details .form-control {
    height: 50px;
    border: 1px solid #ccc
}
.section-details .btn {
    height: 50px;
    font-weight: bold;
    font-size: 14px
}*/
.section-details .btn.blue {
    background-color: #2e71f0
}
.section-details .common-row {
    margin-bottom: 110px
}
.section-details.summary {
    min-height: 150px
}
.section-details.review .row {
   /* margin-bottom: 40px;*/
}
.section-details.review .row-half-space {
    margin-bottom: 55px
}
.section-details.content {
    background-color: #f9f9f9;
    min-height: 150px
}
.section-details.content .gallery-row {
    margin-top: 55px;
    margin-bottom: 55px
}
.section-details.content .gallery-block .owl-item {
    margin-right: 40px
}
.section-details.content .gallery-block .owl-item img {
    border-radius: 8px;
    display: block;
    width: 100%;
    height: auto
}
.form-block {
    min-height: 400px
}
.form-block .form {
    min-height: 400px
}
.card-payment-block img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    cursor: pointer
}
.card-payment-block img:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: .5
}
@media (max-width: 480px) {
    .portfolio-item {
        margin-bottom: 20px;
        padding-left: 80px
    }
    input.form-control.places-form {
        width: 100%
    }
    input.form-control.name-form {
        margin: 0;
        width: 100%
    }
    .search-btn {
        width: 100%
    }
    .content-title h3 {
        font-size: 26px
    }
    .footer {
        height: 100%
    }
}
.signin-page {
    height: 600px
}
.signin-page .form-control {
    border: 1px solid #ccc
}
.signin-btn {
    width: 380px;
    height: 40px;
    background: #2e71f0;
    border: 1px solid #2e71f0;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.signin-btn:hover {
    background: #007aff;
    color: #fff;
    border: 1px solid #2e71f0
}
.signinToLogin {
    margin-top: 80px;
    font-size: 14px
}
.modal-signup {
    padding: 30px;
    text-align: center;
    width: 442px
}
.modal-signup .form-control {
    border: 1px solid #ccc
}
.modal-signin {
    padding: 30px;
    text-align: center;
    width: 442px
}
.modal-signup h3 {
    margin-top: 0
}
.modal-signin h3 {
    margin-top: 0
}
.header-gradient {
    width: 100%;
    height: 5px;
    background: #c02425;
    background: -webkit-linear-gradient(to left, #c02425, #f0cb35);
    background: linear-gradient(to left, #c02425, #f0cb35)
}
.signup-page {
    height: 600px
}
.signup-page .form-control {
    border: 1px solid #ccc
}
.signup-btn {
    width: 380px;
    height: 40px;
    background: #2e71f0;
    border: 1px solid #2e71f0;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.signup-btn:hover {
    background: #007aff;
    color: #fff;
    border: 1px solid #2e71f0
}
.signupToLogin {
    margin-top: 80px;
    font-size: 14px
}
@media (min-width: 768px) {
    .signupLogin-content {
        padding: 40px 190px
    }
}
@media (max-width: 480px) {
    .signupLogin-content {
        padding: 40px 10px
    }
    .signin-btn {
        width: 355px
    }
}
.btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
.form-group {
    margin-bottom: 20px
}
.btn:focus {
    outline: none
}
.footer-grey {
    background: #edefed
}
.footer-grey a {
    color: #565a5c
}
.footer-grey .bottom-footer p a {
    color: #565a5c
}
.navbar-white {
    border-bottom: 1px solid #dce0e0;
    height: 61px;
    padding: 0;
	    background: #FFF;
}
.navbar-nav>li>a {
    padding-top: 19px;
    color: #565a5c
}
.search-white-nav {
    position: absolute;
    top: 13px;
    left: 191px;
    width: 500px;
    height: 40px;

}
.productdetail p{}
.search-white-nav .glyphicon-search { color:#CCC; width:24px;}
.search-nav{    border: none;    width: 450px;
   -webkit-box-shadow: none;
    box-shadow: none;}
@media screen and (max-width: 768px) {
    .side-collapse-container {
        width: 100%;
        position: relative;
        left: 0;
        transition: left .4s
    }
    .side-collapse-container.out {
        left: 200px
    }
    .side-collapse {
        top: 50px;
        bottom: 0;
        left: 0;
        width: 200px;
        position: fixed;
        overflow: hidden;
        transition: width .4s
    }
    .side-collapse.in {
        width: 0
    }
}
.navbar-toggle .icon-bar {
    background-color: #000
}




textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

.pagination>li>a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000;
}


.profile-nav {    }
.navbar-nav>li>a.usernavprofile {padding:15px 5px 5px 5px;}

.navbar-nav>li>a.usernavprofile:hover{ background:none;}
.usernavprofile img { margin-left:10px;  }

.nav>li>a:hover { background:none;}


@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
 }
 
 .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: none;
 }
 
 .dropdown-menu.profile-nav-dropdown { margin:0;top: 59px;top: auto; margin-top:5px;}


 .profile-nav-dropdown>li>a {
    display: block;
    padding: 20px;
 }

/*payment*/

.payment-page{
    padding-top: 70px; background: #fafafa;
}

.billing .form-control{ height:36px;
    background-color: #fff;
    color: #565a5c;}
	.form-control {border-radius: 2px;}
	
	label {
     font-weight: normal; 
    color: #565a5c;
}
.input-pay {    border: 1px solid #c4c4c4;}
.billing img{    border: 1px solid #c4c4c4;}
.paddingzero { padding:0;}
.billing h3 {font-size: 32px;
    font-weight: normal;color: #565a5c;}
	
	.btn-pay { height:42px;}
	
	
	.merchant-details {    padding-left: 50px;}
	
	.book-widget-detail-page { position:absolute; top: -100px;}
	
	
	.book-now-block {
    background-color: #fff;
    display: block;
    width: 300px;
    min-height: 250px;
    border: 1px solid #dce0e0;
    background-color: #fff;
    border-radius: 0;
}

.date-book { margin:10px 0 20px;    border: 1px solid #c4c4c4;
    border-radius: 2px;
    background-color: #fff;
    color: #565a5c;}

.book-now-block img { border-radius: 0;}

.productdetail { padding:20px; border-radius: 0;}
.productdetail h3{     font-size: 18px;
    font-weight: bold;    margin-bottom: 5px;}
.productdetail p{font-size: 14px;
    line-height: 1.43;
    color: #000; font-family:Arial, Helvetica, sans-serif;}

p.totalprice{ font-size: 24px;font-weight: normal;line-height: 1.43;
    color: #000;}


.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color:transparent;

}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 15px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,.2);
    content: '';
}



.navbar-brand {
    float: left;
    height: 50px;
    padding: 0;
    font-size: 18px;
    margin-top: -20px;
    line-height: 20px;
}