@import "customicons.less";

html {
    position: relative;
    min-height: 100%;
}

 textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus,
.checkbox input[type="checkbox"]:focus + label:before
{
    outline:0px !important;
    -webkit-appearance:none !important;
}
.footer {
    bottom: 0;
    width: 100%;
    height: 260px;
}
.landing-page-search {
    padding-top: 80px;
}
.terms-footer {
    margin-right: 40px;
}
.bottom-footer {
    padding-top: 80px;
    p {
        color: #999;
        a {
            color: #999;
        }
    }
}
a:hover {
    color: #CCC;
    text-decoration: none;
}
.currency {
 
         background: #1F1F21;
     color: white; 

     &:hover,&:active{
     background: #1F1F21;
     color: white; 
     }
}
   
.navbar {
    margin-bottom: 0;
    background: none;
    border: 0;
    padding-top: 10px;
}
.nav-cta {  
    padding: 10px 40px;
    margin-left: 40px;
}
.navbar-default {
    .navbar-nav {
        & > li {
            & > a {
                color: #FFF;
                -webkit-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }
            & > a:hover {
                color: #2E71F0;
            }
            & > a.nav-cta {
                border: 1px solid #EEEEEE;
                border-radius: 40px;
                padding: 10px 30px;
                margin-top: 5px;
                color: #FFF;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }
            & > a.nav-cta:hover {
                color: #000;
                background: #FFF;
            }
        }
    }
}
.user-thumb {
    position: absolute;
    top: 220px;
    left: 205px;
}
.all-search {
    border-radius: 4px 0 0 4px;
    height: 40px;
}
.form-control {
    border: 0;
    border-radius: 1px;
}
input.form-control.places-form {
    width: 250px;
    height: 47px;
}
input.form-control.name-form {
    margin-left: -4px;
    height: 47px;
    border-left: 1px solid #CCC;
    width: 250px;
}
.search-btn {
    background: #2E71F0;
    color: #FFF;
    padding: 13px 42px 14px;
    margin-left: -4px;
    border-radius: 0;
    border: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.search-btn:hover {
    background: #007AFF;
    color: #FFF;
}
.landing-content {
    padding: 40px 0;
    a {
        color: #333;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    a:hover {
        color: #2E71F0;
    }
}
.portfolio-item {
    margin-bottom: 40px; 


    @media (max-width: 991px) {  
        margin-left:40px;
    }
}
.price {
    opacity: 0.79;
    background: #3C3D41;
    width: 100px;
    padding: 10px;
    color: #FFF;
    font-size: 18px;
    position: absolute;
    top: 180px;
}
.img-right-top {
    display: block;
}
.img-right-bottom {
    display: block;
    margin-top: 16px;
}
.overlay-bg {
    position: absolute;
    width: 570px;
    height: 731px;
    background: #000;
}

.multi-select-block{
    .block{
        width:30%; 
    }

}

.overlay-big-left {
    img {
        opacity: 60;
        filter: alpha(opacity=6000);
        opacity: 0.6;
    }
}
.overlay-right-top-bg {
    position: absolute;
    width: 570px;
    height: 357px;
    background: #000;
}
.overlay-right-top {
    img {
        opacity: 60;
        filter: alpha(opacity=6000);
        opacity: 0.6;
    }
}
.overlay-right-bottom-bg {
    position: absolute;
    width: 570px;
    height: 362px;
    background: #000;
    margin-top: 13px;
}
.overlay-right-bottom {
    img {
        opacity: 60;
        filter: alpha(opacity=6000);
        opacity: 0.6;
        margin-top: 13px;
    }
}
.text-overlay.big-left {
    position: absolute;
    top: 300px;
    left: 180px;
    z-index: 999;
    a {
        color: #FFF;
        text-decoration: none;
        font-size: 30px;
    }
}
.text-overlay.top-right {
    position: absolute;
    top: 170px;
    left: 230px;
    z-index: 999;
    a {
        color: #FFF;
        text-decoration: none;
        font-size: 30px;
    }
}
.text-overlay.bottom-right {
    position: absolute;
    top: 530px;
    left: 230px;
    z-index: 999;
    a {
        color: #FFF;
        text-decoration: none;
        font-size: 30px;
    }
}
a.overlay {
    opacity: 0.5;
    background: #000;
    border-radius: 4px;
    width: 570px;
    height: 736px;
    z-index: 11px;
}
.content-title {
    margin: 60px 0 60px 0;
    h3 {
        font-size: 36px;
    }
}
.view-more {
    margin: 60px 0 100px 0;
}
a.view-more-btn {
    background: #2E71F0;
    border-radius: 40px;
    padding: 14px 30px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
a.view-more-btn:hover {
    background: #007AFF;
}
.btn-search {
    background: #276CF2;
    border-radius: 0px 4px 4px 0;
    border: 0;
    font-family: Montserrat-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 2px;
    height: 40px;
    line-height: 12px;
    width: 166px;
    margin-left: -10px;
}
.bg-midnight-blue {
    background-color: #000;
}


.bg-empty {
      min-height:400px;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: 50% 50% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 20;
    filter: alpha(opacity=2000);
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.container {
    position: relative;
    z-index: 2;
}
.nav-visible .navbar .nav-collapse .nav &>li &>a:hover,.nav-visible .navbar .nav-collapse .nav &>li &>li a:focus {
    background-color: transparent;
}
.nav-visible .nav-collapse .navbar-form,.nav-visible .nav-collapse .navbar-search {
    border-bottom: 0 none;
    border-top: 0 none;
    box-shadow: none;
    margin: 10px 0;
    padding: 10px 15px;
}
.nav-visible .nav-collapse .navbar-form a.btn,.nav-visible .nav-collapse .navbar-search a.btn {
    border-color: white;
    color: white;
}
.nav-visible .nav-collapse .navbar-form a.btn:hover,.nav-visible .nav-collapse .navbar-search a.btn:hover,.nav-visible .nav-collapse .navbar-form a.btn:focus,.nav-visible .nav-collapse .navbar-search a.btn:focus {
    color: #7f8c8d;
    background-color: white;
}
.header-11-startup-antiflicker {
    border-bottom: 1px #bdc3c7 solid;
}
.header-11 {
    z-index: 100;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 90px;
    .navbar {
        position: absolute;
        z-index: 2;
        top: 0;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        .navbar-form {
            padding: 30px 0 19px 30px;
        }
        .btn {
            padding-left: 18px;
            padding-right: 18px;
        }
        .btn.btn-primary {
            background-color: #3276b1;
        }
        .brand {
            padding-top: 30px;
            font-size: 25px;
            font-weight: normal;
            color: #34495e;
            font-weight: 600;
            img:first-child {
                float: left;
                margin: -10px 15px 0 0;
            }
        }
        .nav {
            & > li {
                margin-left: 25px;
                & > a {
                    padding: 41px 0 27px;
                    font-size: 14px;
                    font-weight: normal;
                    color: #7f8c8d;
                    font-weight: 500;
                    letter-spacing: 1px;
                    color: inherit;
                }
            }
            & > li:first-child {
                margin-left: 0;
            }
        }
        .navbar-toggle {
            background-image: url("../../../common-files/icons/menu-icon-header-8.png");
            margin-top: 36px;
        }
    }

    .navbar .btn.btn-primary:hover,.navbar .btn.btn-primary:focus {
        background-color: #45b39d;
    }
    .navbar .btn.btn-primary:active,.navbar .btn.btn-primary.active {
        background-color: #138871;
    }
    .navbar .nav &>li:active a,.navbar .nav &>li.active a {
        color: #16a085;
    }
    .navbar .nav &>li:active a:hover,.navbar .nav &>li.active a:hover,.navbar .nav &>li:active a:focus,.navbar .nav &>li.active a:focus,.navbar .nav &>li:active a.active,.navbar .nav &>li.active a.active {
        color: #16a085;
    }
    .navbar .nav &>li &>a:hover,.navbar .nav &>li &>a:focus,.navbar .nav &>li &>a.active {
        color: #16a085;
    }


}


.header-11-sub {
    padding-top: 110px;
    padding-bottom: 200px;
    padding-bottom: 150px;
    color: #bdc3c7;
    position: relative;
    //margin-top: -60px;



    .additional-links {
        opacity: 50;
        filter: alpha(opacity=5000);
        opacity: 0.5;
        filter: alpha(opacity=50);
        font-size: 12px;
        font-weight: normal;
        color: #bdc3c7;
        color: #7f8c8d;
        a {
            text-decoration: underline;
            color: #bdc3c7;
            color: #697172;
        }
    }
    .signup-form {
        form {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin-top: 40px;
            margin-bottom: 20px;
            padding-left: 140px;
            .form-group:first-child {
                &+ {
                    .form-group {
                        display: table;
                        width: 100%;
                        & > div {
                            display: table-cell;
                            width: 50%;
                            padding-left: 5px;
                        }
                        & > div:first-child {
                            padding-left: 0;
                            padding-right: 5px;
                        }
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .player {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: #bdc3c7;
        position: relative;
        overflow: hidden;
        height: 360px;
        .btn-play {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            left: 10px;
            bottom: 10px;
            width: 60px;
            padding-left: 16px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }
        .btn-play.btn-primary {
            background-color: #16a085;
        }
        & > iframe {
            width: 100%;
            height: 100%;
            border: 0;
            display: block;
        }
    }
    
    .background {
        background-image: url(../img/Image.png);
        opacity: 30;
        filter: alpha(opacity=3000);
        opacity: 0.3;
        filter: alpha(opacity=30);

         &.mountain-empty {
            background-image: url(../img/mountain.png) ;
            background-repeat:no-repeat ; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

            width:100%;
            filter: alpha(opacity=9000);
            opacity: 0.9;
            filter: alpha(opacity=90);
        }


    }
    h3 {
        font-weight: normal;
        color: #ffffff;
        margin-bottom: 15px;
        font-weight: 300;
        font-family: Montserrat-Bold;
        font-size: 36px;
        line-height: 55px;
    }
    p {
        font-weight: normal;
        opacity: 0.69;
        font-family: PTSerif-Regular;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 26px;
    }
}
.header-11-sub .additional-links a:hover,.header-11-sub .additional-links a:focus,.header-11-sub .additional-links a.active {
    color: #979c9f;
}
.header-11-sub .signup-form form .btn.btn-info:hover,.header-11-sub .signup-form form .btn.btn-info:focus {
    background-color: #16a085;
}
.header-11-sub .signup-form form .btn.btn-info:active,.header-11-sub .signup-form form .btn.btn-info.active {
    background-color: #138871;
}
.header-11-sub .signup-form form input[type="text"],.header-11-sub .signup-form form input[type="password"] {
    border-color: white!important;
}
.header-11-sub .player .btn-play.btn-primary:hover,.header-11-sub .player .btn-play.btn-primary:focus {
    background-color: #45b39d;
}
.header-11-sub .player .btn-play.btn-primary:active,.header-11-sub .player .btn-play.btn-primary.active {
    background-color: #138871;
}
.footer-2 {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #1F1F21;
    a {
        color: #FFFFFF;
        font-weight: normal;
        font-size: 12px;
        line-height: 25px;
        font-family: Montserrat-Regular;
    }
    nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 16px;
            font-weight: normal;
            color: #bdc3c7;
            li {
                float: left;
                margin-left: 25px;
                line-height: 25px;
            }
            li:first-child {
                margin-left: 0;
            }
        }
    }
    .social-btns {
        white-space: nowrap;
        & > * {
            display: inline-block;
            vertical-align: top;
            margin-left: 15px;
            font-size: 20px;
            font-weight: normal;
            color: #979c9f;
            width: 20px;
            height: 25px;
            overflow: hidden;
            text-align: center;
            & > * {
                display: block;
                position: relative;
                top: 0;
                -webkit-transition: 0.25s top;
                -moz-transition: 0.25s top;
                -o-transition: 0.25s top;
                transition: 0.25s top;
            }
            & > *:first-child {
                color: #bdc3c7;
            }
        }
        & > *:first-child {
            margin-left: 0;
        }
        & > *:hover {
            & > * {
                top: -100%;
            }
        }
    }
    .additional-links {
        font-size: 12px;
        font-weight: normal;
        color: #bdc3c7;
        text-align: center;
        a {
            text-decoration: underline;
        }
    }
}
.footer-2 a:hover,.footer-2 a:focus,.footer-2 a.active {
    color: #979c9f;
}

@media (max-width: 991px) {
    .footer-2 .additional-links {
        clear: both;
        text-align: left;
    }
}
@media (max-width: 768px) {
   .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
}
header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header-11-sub {
    padding-top: 68px;
    padding-bottom: 70px;
    .player {
        margin: 40px 0 45px;
    }
    .signup-form {
        form {
            .form-group:first-child {
                &+ {
                    .form-group {
                        & > div {
                            padding-left: 9px;
                        }
                        & > div:first-child {
                            padding-right: 9px;
                        }
                    }
                }
            }
            .btn {
                margin: 9px 0;
            }
        }
    }
    .background {
        background: #f6f6f2;
    }
}
.header-11-sub .signup-form form input[type="text"],.header-11-sub .signup-form form input[type="password"] {
    height: 41px;
}

}


 


@media (max-width: 480px) {
 .header-11-sub {
    padding-top: 68px;
    padding-bottom: 70px;
    h3 {
        font-size: 26px;
        font-weight: normal;
        color: #ffffff;
    }
    .player {
        margin: 40px 0 45px;
        height: 160px;
    }
    .signup-form {
        form {
            margin-top: 25px;
        }
    }
}
.footer-2 {
    padding-top: 28px;
    padding-bottom: 28px;
    & > .container {
        & > * {
            float: none !important;
            *zoom: 1;
        }
        & > *:after {
            clear: both;
            clear: both;
        }
    }
    nav {
        ul {
            li {
                float: none;
                margin: 18px 0 0;
            }
            li:first-child {
                margin-top: 0;
            }
        }
    }
    .social-btns {
        margin: 25px 0 10px;
    }
}
.footer-2 &>.container &>*:before,.footer-2 &>.container &>*:after {
    content: " ";
    display: table;
    display: table;
    content: "";
    line-height: 0;
}

}

.search-box-wrapper{
   // border-bottom:solid 2px #a1a1a1;  
}

.container-result{ 
    border :solid 2px #a1a1a1;  
}
.container-filter{ 
    margin-top: 20px;
    margin-bottom:20px; 
    .row-filter{
            h5{
                font-weight:600;
                text-align: left;
                float:left;
            }
     }

   
     .filter-search{
         border-bottom:solid 2px #e6e9e9 ;
            min-height:150px;
            margin-top:75px;
            .checkbox{
                    margin-right:45px;   
                    @media (max-width: 991px) { margin-left:  0px;margin-right: 0px;  }
            }
            h5{
                margin-top:16px;
            } 

     }
     

    .slider-filter{
        min-height:150px;
        margin-top:75px;
        label{
                font-weight:bold;
        }
        .label-description{
                margin-top:50px;
        }

    }

}



//--SLIDER--
.slider{
    margin-top: 18px;
}
.noUi-horizontal{
    .noUi-handle{
        height:33px;width:33px;top:-15px;
        border-radius: 50%;
        cursor:pointer;  
        box-shadow: 0 2px 5px #EBEBEB,0 3px 6px -3px #BBB; 

        &:after, &:before{
            background: transparent;;
        }
    } 

}
.noUi-connect ,.noUi-background,.noUi-target {  
    height:3.5px;
}

.noUi-connect{
    background:#c5c5c5;
}
.noUi-connect{
    background:#006ffe;
}
//--/SLIDER--

//STAR RATING
.star-rating{ 
    .icon-star{
              display:inline; 
              color:#d8d8d8; 
              font-size:16px;
              &.selected{ 
              color:#ffcd00; 
                }
        
    }
}
 
.heart-wrapper{ 
    position: absolute;
    top: 5px;  left:205px;
}
input[type=checkbox].heart-checkbox{
 display:none;
    &+ label:before {
      font-family: FontAwesome;
      display: inline-block;
      font-size:30px;
      cursor:pointer;
    }
    &+ label:before {
                content:"\f004";color:#9b9b9b; 

                -webkit-text-stroke: .5px white; 
                 text-shadow:1px 1px 0 #fff,px 0px 0 #fff,1px -1px 0 #fff,0px 1px 0 #fff,1px 1px 0 #fff;

    }
    &+ label:before { letter-spacing: 10px; }
    &:checked + label:before { content:"\f004";color:#ff1d25; 
                -webkit-text-stroke:0px;   text-shadow: none;
     }
    &:checked + label:before { letter-spacing: 5px; }
}

.common-click-feature-hover{
              zoom: 1;
            filter: alpha(opacity=50);
            opacity: 0.5;

}
.common-click-feature{
    -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        cursor:pointer;  

}
.common-border-bottom{
  border-bottom:solid 2px #a1a1a1;  
}

 .border-bottom-separator{
    .common-border-bottom(); 
    padding-bottom: 100px;
    border-bottom-width:1px;
 }

.pagination-wrapper{
    .pagination-block{
         display:inline-block;
        width:45px;height: 45px;
        border :#bfbfbf solid 2px;cursor: pointer;
        border-radius:8px;font-weight: bold;
         padding: 10px;
        margin-right:20px;
        color:#979797;
        .common-click-feature();
    
 
        &.active{ 
         border :#696969 solid 2px;
         color:#000;
        }

        &:hover{
            .common-click-feature-hover();
        }
    }

}


.bg-color-blue{
    background-color:#2e71f0 !important;
}
  

.form-block{ 
}
.book-now-block{ 
    background-color: #fff; 
    display: block;
    width:100%; 
    min-height: 350px;
    border-radius:10px;
    box-shadow: 0px  1px 3px #ececec;

    padding:20px;
    padding-top:40px;padding-bottom:40px;

    .price-text{
        color:#2269ef;
    }
 
    .alt-text{
        color:#4e4e4e;
    }
 
}

.full-bold{
    font-weight:800;
}
//DETAILS PAGE
.section-details{
    h5{
    color:#595f64;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 0;
    }

    h3 {
    color:#3c3d41;
    margin-top: 0px;
    margin-bottom: 25px;
    line-height: normal;
    }
   .form-control{
        height:50px; 
        border: 1px solid #ccc;
    }
    .btn{
            height:50px;
            font-weight:bold;font-size:14px;
            &.blue{
                background-color:#2e71f0;
            }
    }
    .common-row{
           margin-bottom: 110px; 
    }

    &.summary{
        min-height: 150px; 
     
    }

    &.review{ 
        .row{
               .common-row();
        }

         .row-half-space{ 
            margin-bottom:55px;
        }
    }
    &.content{ 
    background-color: #f9f9f9; 
      min-height: 150px; 
    .gallery-row{ 
         margin-top:55px;    
         margin-bottom:55px;  
    }
      .gallery-block{
        .owl-item{  
           margin-right:40px;  
            img{ 
            border-radius: 8px;      
                display: block;
                width: 100%;
                height: auto;
            }
        }
       
      }
    }


}

.form-block{   
  min-height: 400px;  
    .form{         min-height: 400px;      }   
 

}

.card-payment-block{
    img{ 
            .common-click-feature();
            &:hover{
            .common-click-feature-hover();
            }

    }

}



 
 /*Landing page responsive*/
 @media (min-width: 768px) {
 
 }
 @media (max-width: 480px) {
 .portfolio-item {
     margin-bottom: 20px;
     padding-left: 80px;
 }
 input.form-control.places-form {
     width: 100%;
 }
 input.form-control.name-form {
     margin: 0;
     width: 100%;
 }
 .search-btn {
     width: 100%;
 }
 .content-title h3 {
     font-size: 26px;
 }
 
 .footer {
     height: 100%;
 }
 }
 
 
 
 
 
 /*Landing page responsive*/
 
 
 
 
 /*signin*/
 
 .signin-page {
     height: 600px;
 }
 .signin-page .form-control {
     border: 1px solid #CCC;
 }
 .signin-btn {
     width: 380px;
     height: 40px;
     background: #2E71F0;
     border: 1px solid #2E71F0;
     color: #FFF;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     border-radius: 2px;
     -webkit-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
 }
 .signin-btn:hover {
     background: #007AFF;
     color: #FFF;
     border: 1px solid #2E71F0;
 }
 .signinToLogin {
     margin-top: 80px;
     font-size: 14px;
 }
 
 
 
 /*modal signup signin*/
 .modal-signup {
     padding: 30px;
     text-align: center; width: 442px;
     }
     .modal-signup .form-control {
     border: 1px solid #CCC;
 }
 .modal-signin {
     padding: 30px;
     text-align: center; width: 442px;
     
     }
         .modal-signin .form-control {
     border: 1px solid #CCC;
 }
 
 .modal-signup h3{margin-top: 0;}
 .modal-signin h3{margin-top: 0;}
 
 
 
 
 
 /*modal signup signin*/
 
 
 /*signup*/
 
 .header-gradient {
     width: 100%;
     height: 5px;
     background: #C02425;
     /* fallback for old browsers */
     
     background: -webkit-linear-gradient(to left, #C02425, #F0CB35);
     /* Chrome 10-25, Safari 5.1-6 */
     
     background: linear-gradient(to left, #C02425, #F0CB35);
     /* W3C, IE 10 / Edge, Firefox 16 , Chrome 26 , Opera 12 , Safari 7  */
 }
 .signup-page {
     height: 600px;
 }
 .signup-page .form-control {
     border: 1px solid #CCC;
 }
 .signup-btn {
     width: 380px;
     height: 40px;
     background: #2E71F0;
     border: 1px solid #2E71F0;
     color: #FFF;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     border-radius: 2px;
     -webkit-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
 }
 .signup-btn:hover {
     background: #007AFF;
     color: #FFF;
     border: 1px solid #2E71F0;
 }
 .signupToLogin {
     margin-top: 80px;
     font-size: 14px;
 }
 @media (min-width: 768px) {
     .signupLogin-content {
         padding: 40px 190px;
     }
 }
 @media (max-width: 480px) {
     .signupLogin-content {
         padding: 40px 10px;
     }
     
     .signin-btn {
     width: 355px;
     }
 }
 
 
 
 /*Overright style.css begin*/
 
 .btn {
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     border-radius: 2px;
 }
 .form-group {
     margin-bottom: 20px;
 }
 .btn:focus {
   outline: none;
 }