/*----------------------------------------------------------HEADER----------------------------------------------------------*/
/*the logo*/
.header-10 .navbar .brand { margin-top: -9px;padding-top: 0;}
/*the whole header*/
.header-10 {
background:#FFF;border-bottom: 1px solid #EEEEEE;
}   
.header-10 .navbar .nav > li > a {    color: #757575;} 
.header-10 .navbar .nav > li > a:hover{    color: #212121;}
/*the search bar*/
.navsearch {border: 1px solid #c4c4c4;    border-radius: 1px;}
.navsearch-form {
position: absolute;
left: 141px;
top: -3px;
display: block;}
/*dropdown start*/
/*when it's clicked active*/
.dropdownselectactive img{ margin-left:20px;}
.header-10 .navbar .nav > li > a.dropdownselectactive {
padding: 20px 0 18px;
background: #FFF;}
/*when it's clicked active*/
/*when it's hover dropdown*/
.open > .dropdown-menu {
margin-top: -1px !important;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,.15);
border-radius: 1px;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { border-radius: 0; color:#000; background:#fafafa;}
.dropdown-menu li:first-child > a {
border-radius: 0; padding: 15px 0 15px 15px;}
.dropdown-menu li:last-child > a {
border-radius: 0; padding: 15px 0 15px 15px;}
.dropdown-menu li > a {
color: rgba(52, 73, 94, 0.75);
padding: 15px 0 15px 15px;}
/*when it's hover dropdown*/
.dropdownx {margin-top: -17px !important;}
ul.dropdownx li { padding:}
ul.dropdownx li a{ padding:15px 0;}
/*dropdown end*/
/*----------------------------------------------------------FOOTER----------------------------------------------------------*/
.bottom-below-footer { margin-top:100px;}
.bottom-below-footer p {color: #ffffff;
font-weight: normal;
font-size: 15px;}
.btn-currency { border-radius:1px; background:none; border:1px solid #999;padding: 10px 20px;color:#FFF}
.btn-currency:hover {background:none; color:#FFF; }
.btn-currency:active {  background:none; color:#FFF;}
.open > ul.currency-dropdown-menu {
margin-top: 0;
}
.open .dropdown-toggle.btn-default.btn-currency {
background: #000; color:#FFF;
}
.footer-3 a {
color: #ffffff;
font-weight: normal;
font-size: 15px;
}
/*----------------------------------------------------------FOOTER----------------------------------------------------------*/
/*----------------------------------------------------------GENERAL----------------------------------------------------------*/
.img-circle {
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}
/*----------------------------------------------------------DETAIL PAGE----------------------------------------------------------*/
.date-book {    border-right: 0;}
.detail-widget-dateform .input-group-addon { background:none;}
.form-group.detail-widget-dateform {margin-bottom: 20px;}

/*----------------------------------------------------------PAYMENT----------------------------------------------------------*/
.section-details .btn.blue {
    border: 1px solid #568342;
    border-top-color: #588446;
    border-bottom-color: #3e6b32;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75ad5e',endColorstr='#639b4e');
    background-image: -webkit-linear-gradient(top,#75ad5e,#639b4e);
    background-image: -moz-linear-gradient(top,#75ad5e,#639b4e);
    background-image: -o-linear-gradient(top,#75ad5e,#639b4e);
    background-image: -ms-linear-gradient(top,#75ad5e,#639b4e);
    background-image: linear-gradient(to bottom,#75ad5e,#639b4e);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.20); border-radius:
2px;}

.disclaimer { margin-top:40px;}
.disclaimer p {    color: #6b6e76;
    font-size: 12px;}
	/*----------------------------------------------------------RESERVATIONS----------------------------------------------------------*/
         .profile-photo p{ font-size: 14px;     color: #333; font-family:Arial, Helvetica, sans-serif;}
.profile-photo p.accepted { color:#689F38; font-weight:bold;}

